@import url("../library/library.css");

.topo path {
  stroke: #000;
  stroke-width: 1.2px;
  transition: fill 0.2s ease;
}

.tooltip {
  position: absolute;
}

/* Setting the background theme color and removing any padding/margin */
.topo{
  padding: 0px;
  margin: 0px 5%;
}

body {
  min-width: 1680px; 
  min-height: 900px;
}

.t_stage_clinicalxAxis path,
.n_stage_clinicalxAxis path,
.m_stage_clinicalxAxis path,
.t_stage_pathxAxis path,
.n_stage_pathxAxis path,
.m_stage_pathxAxis path{
  stroke: black;
}